.mainBody{
    padding:2rem
}

.mainBody .inputBar{
    position:absolute;
    right:10rem;
}

.mainBody .container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    height: 25rem;
    border-radius: 0.25rem;
    padding: 2rem 0rem;
}

.mainBody .container .card{
    width: fit-content;
    height: fit-content;
}

.mainBody .container .card .card-body .card-title{
    font-weight: bold;
}

.mainBody .memeContainer{
   height: 30rem;
   display: flex;
   align-items: center;

}

.mainBody .memeContainer .randomMeme{
    height: 28rem;
    width: fit-content;
    overflow: scroll;
    overflow-x: hidden;
}

.mainBody .memeContainer .randomMeme .memeRandom p{
    padding-bottom: 2rem;
}

.mainBody .memeContainer .randomMeme .memeRandom img{
    width: auto;
    height: auto;
}