.jokesAndMeme .container{
  margin-bottom: 5rem;
}

.jokesAndMeme .container h3{
  padding-bottom: 3rem;
  font-size: 2rem;
}

.jokesAndMeme .container .row{
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-around; 
}

.jokesAndMeme .container .row .col .card {
  filter: drop-shadow(6px -3px 20px #808080);
  -webkit-filter: drop-shadow(6px -3px 20px #808080);
  -moz-filter: drop-shadow(6px -3px 20px #808080);
  background-color: #a6b1f7;
  border: none;
}


.jokesAndMeme .container .row .col .card .card-body{
  padding: 2rem 1rem;
}

.jokesAndMeme .container .row .col .card .card-body a{
  text-decoration: none;
  color: white;
  text-align: center;
}

.jokesAndMeme .container .row .col .card .card-body a h5{
  font-weight: bold;
}